<!doctype html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static "scans/bootstrap.css" %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Scan&Print</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<img class="img-fluid rounded" src={%static "scans/marszalek.png"%} class="rounded" style="width:156px;height:140px;">
			<h1 class="display-1">Scan & Print</h1>
		</div>
	</div>
</body>
</html>