<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'scans/custom.css' %}">
 	<script type="text/javascript" src="{% static 'scans/js/three.js' %}"></script>
 	<script type="text/javascript" src="{% static 'scans/js/render.js' %}"></script>
	<script type="text/javascript" src="{% static 'scans/js/rename.js' %}"></script>
	<script type="text/javascript" src="{% static 'scans/js/CopyShader.js' %}"></script>
	<script type="text/javascript" src="{% static 'scans/js/EffectComposer.js' %}"></script>
	<script type="text/javascript" src="{% static 'scans/js/RenderPass.js' %}"></script>
	<script type="text/javascript" src="{% static 'scans/js/ShaderPass.js' %}"></script>
	<script type="text/javascript" src="{% static 'scans/js/jquery-3.3.1.min.js' %}"></script>
	<meta charset="UTF-8">
	<title>Scan&Print</title>
</head>
<body>
	{% csrf_token %}
	<div class="color">
		<header>
			<p>Scan & Print</p>
		</header>
		<main>
			<div class="row">
				<table class="header">
					<thead>
						<tr>
							<th class="size-25">Name</th>
							<th class="size-15">Date</th>
							<th class="size-10">Options</th>
						</tr>
					</thead>
				</table>
			</div>
			<p class="spacing">SOME SPACING</p>
			{% for scan in object_list%}
			<div class="row">	
				<table>
					<tr>
						<td class="size-25">
							<p id="name-{{ scan.pk }}">{{ scan.name }}</p>
							<div class="d-none" id="rename-box-{{ scan.pk }}">
								<button class="button-sub-cancel" onclick="hideRename({{ scan.pk }})">Cancel</button>
								<button class="button-sub-name" onclick="submitName({{ scan.pk }})">Submit</button>
								<input type="text" id="input-scan-{{ scan.pk }}" class="input-rename in-normal" maxlength="30">
							</div>
						</td>
						<td class="size-15"><p class="p-table">{{ scan.date }}</p></td>
						<td class="size-10">
							<div class="dropdown">
								<button id="options-{{ scan.pk }}" class="button-dropdown">More</button>
								<div class="dropdown-content">
									<button>Download Gcode</button>
									<button>Print</button>
									<button onclick="showVisual({{scan.pk}}, '{{ scan.path }}')">Show scan</button>
									<button onclick="showRename({{ scan.pk }})">Rename</button>
								</div>
							</div>
		    			</td>
					</tr>
				</table>
				<div id="render-{{ scan.pk }}" class="render-div d-none">
					<div class="cancel-button">
						<button onclick="hideVisual({{scan.pk}})" class="button-visual-cancel">Close</button>
					</div>
					<div id="canvas-{{ scan.pk }}" class="canvas-div"></div>
				</div>
			</div>
			<p class="spacing">SOME SPACING</p>
			{% empty %}
			<caption>You have to create scans first</caption>
			{% endfor %}
			</main>
		<footer>
			
		</footer>
	</div>
</body>
</html>